* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: white;
}

body{
    width: 100vw;
    min-height: 100vh;
    /* position: relative; */
}


@media only screen and (max-width: 415px){
    body {
        background-color: #FFFFFF;
    }

    #photo-section{
        position:absolute;
        left: 6.4%;
        top: 3.598%;
        width: 87.06666667%;
        height:46.10194903%;
    }

    #text-section{
        position:absolute;
        top:51.87406297%;
        left:8.533333333%;
        width: 82.93333333%;
        height:33.5832084%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        
    }

    #photo{
        position:absolute;
        left: 11.3323124%;
        top: 9.756097561%;
        width: 77.79479326%;
        height: 82.27642276%;
    }

    #pattern-bg{
        width: 100%;
        height: 100%;        
    }

    #quotes{
        width: 19.2926045%;
        height: 21.92982456%;
        position: absolute;
        top: 0;
        left:40.35369775%;

    }

    #pattern-curve{
        width: 76%;
        height: 10.7946027%;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    #testimonial-text{
        width: 100%;
        height: auto;
        align-self: center;
        font-family: inter;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color:#202047;

    }
    #name{
        height: 20px;
        top: calc(50% - 20px/2 - 10px);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #202047;        
    }
    #role{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #B9B9CE;

    }
}

@media only screen and (max-width: 2560px) and (min-width: 769px){
    body {
        background-color:   black;

    }
}