:root{
    --page-height: 667;
    --page-width: 375;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: white;
}

body{
    max-width: calc(100vw);
    max-height: calc(100vh);
}


@media only screen and (max-width: 415px){
    body {
        background-color: #FFFFFF;
    }

    #photo-section{
        --section-width: 326.5;
        --section-height: 307.5;
        --section-postition-left: 24;
        --section-postition-right: 24;
        position:absolute;
        left: calc((var(--section-postition-left) / var(--page-width)) * 100%);
        top: calc((var(--section-postition-right) / var(--page-height)) * 100%);
        width: calc(var(--section-width) / var(--page-width) * 100%);
        height:calc(var(--section-height) / var(--page-height) * 100%);
    }

    #text-section{
        --section-width: 311;
        --section-height: 228;
        --section-postition-left: 32;
        --section-postition-top: 364;
        position:absolute;
        top: calc(var(--section-postition-top) / var(--page-height) * 100%);
        left:calc(var(--section-postition-left) / var(--page-width) * 100%);
        width: calc(var(--section-width) / var(--page-width) * 100%);
        height:calc(var(--section-height) / var(--page-height) * 100%);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;        
    }

    #photo{
        position:absolute;
        left: 11.3323124%;
        top: 9.756097561%;
        width: 77.79479326%;
        height: 82.27642276%;
    }

    #pattern-bg{
        width: 100%;
        height: 100%;        
    }

    #quotes{
        width: 19.2926045%;
        height: 21.92982456%;
        position: absolute;
        top: 0;
        left:40.35369775%;

    }

    #pattern-curve{
        --section-width: 285;
        --section-height: 70.59;
        --section-postition-left: 0;
        --section-postition-top: 596.35;
        top: calc(var(--section-postition-top) / var(--page-height) * 100%);
        left:calc(var(--section-postition-left) / var(--page-width) * 100%);
        width: calc(var(--section-width) / var(--page-width) * 100%);
        height:calc(var(--section-height) / var(--page-height) * 100%);
        position: absolute;
    }

    #testimonial-text{
        width: 100%;
        height: auto;
        align-self: center;
        font-family: inter;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color:#202047;

    }
    #name{
        height: 20px;
        top: calc(50% - 20px/2 - 10px);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #202047;        
    }
    #role{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #B9B9CE;

    }
}

@media only screen and (max-width: 2560px) and (min-width: 769px){
    body {
        background-color:   black;

    }
}